@model Content
@{
    ViewData["Title"] = "Detail";
}

<article class="blog-post px-3 py-5 p-md-5">
    <div class="container">
        <header class="blog-post-header">
            <h2 class="title mb-2">@Model.Title</h2>

            <div class="meta mb-3"><span class="date">Published @Model.CreDate</span><span class="time">@Model.ViewCount read</span><span class="comment"><a href="#">@Model.Comments.Count comments</a></span></div>

        </header>

        <div class="blog-post-body">
            @Html.Raw(Model.Text)
        </div>

        <nav class="blog-nav nav nav-justified my-5">
            <a class="nav-link-prev nav-item nav-link rounded-left" href="index.html">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
            <a class="nav-link-next nav-item nav-link rounded-right" href="blog-list.html">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
        </nav>

        <div class="blog-comments-section">


            <div class="container">
                <div class="be-comment-block">
                    <h1 class="comments-title">Comments (3)</h1>
                    <div class="be-comment">
                        <div class="be-img-comment">
                            <a href="blog-detail-2.html">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
                            </a>
                        </div>
                        <div class="be-comment-content">

                            <span class="be-comment-name">
                                <a href="blog-detail-2.html">Ravi Sah</a>
                            </span>
                            <span class="be-comment-time">
                                <i class="fa fa-clock-o"></i>
                                May 27, 2015 at 3:14am
                            </span>

                            <p class="be-comment-text">
                                Pellentesque gravida tristique ultrices.
                                Sed blandit varius mauris, vel volutpat urna hendrerit id.
                                Curabitur rutrum dolor gravida turpis tristique efficitur.
                            </p>
                        </div>
                    </div>
                    <div class="be-comment">
                        <div class="be-img-comment">
                            <a href="blog-detail-2.html">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="be-ava-comment">
                            </a>
                        </div>
                        <div class="be-comment-content">
                            <span class="be-comment-name">
                                <a href="blog-detail-2.html">Phoenix, the Creative Studio</a>
                            </span>
                            <span class="be-comment-time">
                                <i class="fa fa-clock-o"></i>
                                May 27, 2015 at 3:14am
                            </span>
                            <p class="be-comment-text">
                                Nunc ornare sed dolor sed mattis. In scelerisque dui a arcu mattis, at maximus eros commodo. Cras magna nunc, cursus lobortis luctus at, sollicitudin vel neque. Duis eleifend lorem non ant. Proin ut ornare lectus, vel eleifend est. Fusce hendrerit dui in turpis tristique blandit.
                            </p>
                        </div>
                    </div>
                    <div class="be-comment">
                        <div class="be-img-comment">
                            <a href="blog-detail-2.html">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="be-ava-comment">
                            </a>
                        </div>
                        <div class="be-comment-content">
                            <span class="be-comment-name">
                                <a href="blog-detail-2.html">Cüneyt ŞEN</a>
                            </span>
                            <span class="be-comment-time">
                                <i class="fa fa-clock-o"></i>
                                May 27, 2015 at 3:14am
                            </span>
                            <p class="be-comment-text">
                                Cras magna nunc, cursus lobortis luctus at, sollicitudin vel neque. Duis eleifend lorem non ant
                            </p>
                        </div>
                    </div>
                    <form class="form-block">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group fl_icon">
                                    <div class="icon"><i class="fa fa-user"></i></div>
                                    <input class="form-input" type="text" placeholder="Your name">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 fl_icon">
                                <div class="form-group fl_icon">
                                    <div class="icon"><i class="fa fa-envelope-o"></i></div>
                                    <input class="form-input" type="text" placeholder="Your email">
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <textarea class="form-input" required="" placeholder="Your text"></textarea>
                                </div>
                            </div>
                            <a class="btn btn-primary pull-right">submit</a>
                        </div>
                    </form>
                </div>
            </div>

        </div><!--//blog-comments-section-->


    </div><!--//container-->
</article>

<section class="promo-section theme-bg-light py-5 text-center">
    <div class="container">
        <h2 class="title">Promo Section Heading</h2>
        <p>You can use this section to promote your side projects etc. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
        <figure class="promo-figure">
            <a href="https://made4dev.com" target="_blank"><img class="img-fluid" src="assets/images/promo-banner.jpg" alt="image"></a>
        </figure>
    </div><!--//container-->
</section><!--//promo-section-->

<footer class="footer text-center py-2 theme-bg-dark">

    <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
    <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>

</footer>

